<%= @list.description %> | <%= link_to t('edit'), edit_list_path(@list) %>
<div class="py-2">
  <% @list.items.each do |item| %>
    <div class="flex">
      <%= render 'items/description', item: item %>
    </div>
  <% end %>
</div>
