<% @items.each do |item| %>
  <div class="flex">
    <%= render 'items/description', item: item %> | 
    <% if can? :manage, item %>
      <%= link_to t('edit'), edit_item_path(item) %> | 
      <%= button_to t('delete'), item_path(item), method: :delete, form: { data: { turbo_confirm: t('confirm_delete') } } %>
    <% end %>
  </div>
<% end %>
